<a href="#main-content" class="skip-link">Перейти к содержимому</a>
  <!-- WhatsApp -->


  <a href="https://api.whatsapp.com/send?phone=79265632123" target="_blank" rel="nofollow">
    <span class="whatsapp-button"></span>
  </a>




  <div data-message-target></div>

  <div data-menu-push></div>
  <div class="menu fixed pin-x pin-t z-max" data-behavior="menu" data-menu-media="sm+">
    <div class="menu-bg absolute pin z-10" data-menu-bg></div>
    <div class="py-20 fz-xs relative z-20">
      <div class="container">
        <div class="row items-center">
          <div class="col-6 text-reset"><a href="index.html">
              <div class="main-logo">
                <svg viewBox="0 0 220 20">
                  <use xlink:href="#logo"></use>
                </svg>
              </div>
            </a>
          </div>
          <div class="col-6 sm:hidden">
            <button class="burger" data-behavior="mmenu" data-mmenu-media="sm-">
              <span></span>
              <span></span>
            </button>
          </div>

          <div hidden class="mmenu overflow-auto" data-mmenu-container>
            <div class="mmenu-body h-full">
              <div class="container h-full flex flex-column">
                <div class="pb-40">
                  <div class="mb-30">
                    <div class="mmenu-head mb-15">Курсы и цены</div>
                    <a href="kursy-dlya-vzroslyh.html" class="table mmenu-a link link-black">Курсы для взрослых</a>
                    <a href="https://fluentselfkids.ru" target="_blank" rel="noopener"
                      class="table mmenu-a link link-black">Курсы для детей</a>
                    <a href="korporativnoe-obuchenie.html" class="table mmenu-a link link-black">Курсы для бизнеса</a>
                  </div>
                  <div class="mb-30">
                    <div class="mmenu-head mb-15">Школа</div>
                    <a href="about.html" class="table mmenu-a link link-black">О нас</a>
                    <a href="events.html" class="table mmenu-a link link-black">Мероприятия</a>
                    <a href="photo.html" class="table mmenu-a link link-black">Фотографии</a>
                  </div>
                  <div class=""><a class="table mmenu-head menu-head-a link-green" href="contacts.html">Адреса</a></div>
                  <div class="pt-30">
                    <a href="order.html" class="button button-fill ff-graphik tracking-wide block w-full">Записаться</a>
                  </div>
                </div>
                <div class="mt-auto pb-20">
                  <div class="row">
                    <div class="col-6">
                      <div>
                        <a href="tel:+7 (985) 625 23 97" class="link link-green">+7 (985) 625 23 97</a>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class=""><span data-site-year>© Fluent Self, 2026</span></div>
                      <div class="mt-auto"><a href="https://fluentselfkids.ru" class="link link-green">Fluent Self
                          kids</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col hidden sm:block">
            <div class="flex justify-between">
              <div class="expand-menu">
                <div class="expand-menu-trigger">Курсы и цены</div>
                <div class="expand-menu-inner">
                  <a href="kursy-dlya-vzroslyh.html" class="menu-a block link link-green">Курсы для взрослых</a>
                  <a href="https://fluentselfkids.ru" target="_blank" rel="noopener"
                    class="menu-a block link link-green">Курсы для детей</a>
                  <a href="korporativnoe-obuchenie.html" class="menu-a block link link-green">Курсы для бизнеса</a>
                </div>
              </div>
              <div class="expand-menu">
                <div class="expand-menu-trigger">Школа</div>
                <div class="expand-menu-inner">
                  <a href="about.html" class="menu-a block link link-green">О нас</a>
                  <a href="events.html" class="menu-a block link link-green">Мероприятия</a>
                  <a href="photo.html" class="menu-a block link link-green">Фото</a>
                </div>
              </div>
              <div class=""><a href="contacts.html" class="link link-green">Адреса</a></div>
              <div class=""><a href="order.html" class="link link-green">Запись</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
